*,
*:active,
*:focus,
*:hover,
*:visited
{
    /*list-style: none;*/
    /*border: none;*/
    /*color: #333;*/
    /*font-family: 'Open Sans',sans-serif;*/
    /*font-size: 13px;*/
    /*text-decoration: none;*/
}

body {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

}

.header {
    position: fixed;
    background-color: red;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
}

.header .header-logo, .header .header-menu {
    float: left;
}

.header .header-logo a span{

    font-size: 20px;
    font-weight: 700;
    color: #fff;

}

/*.nav-bar {
    background-color: write;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
}

.nav-bar .nav-list-item {
    float: left;
    padding: 15px;
}
.nav-bar .nav-list-item:hover {
    padding: 15px;
}

.nav-bar .nav-logo {

}

.nav-bar .nav-logo .link{
    
}

.nav-bar .nav-logo .link span{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
*/

/*header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: red;

  background: #FFF;

  height: 60px;
  z-index: 999;
  border-radius: 0;
  border: none;
  margin: auto;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
}*/