<div>
    <ul>
        <li>
            <a href="#/dashboard">Home</a>
        </li>
        <li>Adicionar Catálogos</li>
    </ul>
</div>
<div>

    <form name="addCatalogForm">
        <div >
            <input type="text" name="name" placeholder="Nome" ng-model="catalog.name" required/>
        </div>
        <div>
            <textarea ng-model="catalog.description"></textarea>
        </div>
        <div>
            <button type="submit" name="submit" ng-click="addCatalog(catalog)" data-ng-disabled="addCatalogForm.$invalid">Salvar</button>
        </div>
    </form>

</div>