<div id="primary" class="content-area">

    <main id="main" class="site-main" role="main">

        <div id="hero" class="site-hero">
            <div class="hero__caption">
                <h1 class="first-line">Adicionar Produto</h1>
            </div>
        </div><!-- #hero -->


        <div class="single-content" id="single-content">

            <article id="post-248" class="post-248 page type-page status-publish hentry">

                <div class="entry-content">

                    <div class="section-wrap">

                        <section class="section">

                            <h2>NOVO PRODUTO</h2>

                            <div class="section-content">
                                <div role="form" class="wpcf7" id="wpcf7-f485-p248-o1" lang="en-US" dir="ltr">
                                    <form name="productForm">
                                        <p>
                                            <label for="name">Nome</label>
                                            <input type="text" name="name" maxlength="45" ng-model="category.name" required/>
                                        </p>
                                        <p>
                                            <label for="description">Descrição</label>
                                            <textarea ng-model="product.description"></textarea>
                                        </p>
                                        <p>
                                            <label for="state">Estado</label>
                                            <select ng-model="myState" ng-options="state.nome for state in states | filter:filterStates | orderBy:'nome'" ng-change="cleanCity()"></select>
                                        </p>
                                        <p>
                                            <label for="state">Estado</label>
                                            <select ng-model="myState" ng-options="state.nome for state in states | filter:filterStates | orderBy:'nome'" ng-change="cleanCity()"></select>
                                        </p>
                                        <p>
                                            <button type="submit" name="submit" ng-click="saveProduct(category)" data-ng-disabled="productForm.$invalid" class="wpcf7-form-control wpcf7-submit">Salvar</button>
                                        </p>
                                    </form>
                                </div>
                            </div>

                            <div class="split left"></div>

                        </section>

                        <section class="section">

                            <h2>PERGUNTAS FREQUENTES</h2>

                            <div class="section-content">
                                
                                <h4>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</h4>
                                <p>
                                    <i> Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                                    </i>
                                </p>

                                <div class="split left"></div>
                                
                                <h4>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</h4>
                                <p>
                                    <i>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                                    </i>
                                </p>

                            </div>

                        </section>

                    </div>

                    <div class="clearfix"></div>

                </div>

            </article>

        </div>
    
    </main>

</div>