<div id="hero" class="site-hero">
    <div class="hero__caption">
        <h1 class="first-line">Categorias</h1>
    </div>
</div>

<button ng-click="createCategory()" class="wpcf7-form-control wpcf7-submit">Adicionar</button>
<input type="text" ng-model="search.nome" />
<div masonry preserve-order id="main" role="main" class="masonry" ng-init="initWindow()">

    <article class="masonry-brick box post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-adventure tag-experience" ng-repeat="category in categories | filter: search" >

        <div class="box-inner">
            <div class="box-inner__i">

                <header class="box-header">
                    <h1 class="box-title"><a href="#">{{category.nome}}</a></h1>
                    <div class="split"></div>
                    <div class="box-meta">
                        <div class="box-content box-meta__time"></div>
                    </div>
                </header>
                <div class="box-content">
                    <button ng-click="removeCategory(category)" class="wpcf7-form-control wpcf7-submit">Remove</button>
                </div>
            </div>
        </div>
    </article>
    
</div>
