<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Trocar senha</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
 
                        <form name="changePasswordForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="oldpassword">Senha atual</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "oldpassword" ng-model="changepassword.oldpassword" required/>
                                <small class="errorMessage" data-ng-show="changePasswordForm.oldpassword.$dirty && changePasswordForm.oldpassword.$invalid"> Enter password.</small>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password">Senha</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" ng-model="changepassword.password" password-no-match="changepassword.oldpassword"required/>
                                <small class="errorMessage" data-ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.required"> Enter password.</small>

                                <small class="errorMessage" data-ng-show="changePasswordForm.password.$error.passwordMatch && changePasswordForm.password.$dirty && !changePasswordForm.password.$error.required"> Enter a different password.</small>
                            </span>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password2">Confirmar Senha</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" ng-model="changepassword.password2" password-match="changepassword.password" required/>                                
                                <small class="errorMessage" data-ng-show="changePasswordForm.password2.$dirty && changePasswordForm.password2.$error.required"> Enter password again.</small>

                               <small class="errorMessage" data-ng-show="changePasswordForm.password2.$dirty && changePasswordForm.password2.$error.passwordNoMatch && !changePasswordForm.password2.$error.required"> Password do not match.</small>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="changePassword(changepassword)" data-ng-disabled="changePasswordForm.$invalid">
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->