<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Editar empresa</li>
    </ul>
</div>
<div class="page-content">
    <form name="businessForm">
        <div >
            <input type="text" name="name" placeholder="Nome" ng-model="company.name" required/>
        </div>
        <div >
            <input type="text" name="cnpj" maxlength="14" placeholder="CNPJ" ng-model="company.cnpj" readonly required/>
        </div>
        <div >
            <input type="text" name="address" placeholder="Endereço" ng-model="company.address"/>
        </div>
        <div >
            <input type="text" name="cep" placeholder="cep" ng-model="company.cep" maxlength="8" />
        </div>
        <div >
            <select ng-model="myCountry" ng-options="country.nome for country in countries | orderBy:'nome'" ng-change="cleanOptions()"></select>
        </div>
        <div >
            <select ng-model="myState" ng-options="state.nome for state in states | filter:filterStates | orderBy:'nome'" ng-change="cleanCity()"></select>
        </div>
        <div >
            <select ng-model="myCity" ng-options="city.nome for city in cities | filter:filterCities | orderBy:'nome'"></select>
        </div>
        <div >
            <input type="text" name="phone1" placeholder="Telefone" ng-model="company.phone1"/>
        </div>
        <div >
            <input type="text" name="phone2" placeholder="Telefone" ng-model="company.phone2"/>
        </div>
        <div>
            <button type="submit" name="submit" ng-click="saveCompany(company)" data-ng-disabled="businessForm.$invalid">Salvar</button>
        </div>
    </form>
</div>