<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Editar empresa</li>
    </ul>
</div>
<div class="page-content">
    <form name="businessForm">
        <div >
            <input type="text" name="NAME" placeholder="Nome" ng-model="business.NAME" required/>
        </div>
        <div >
            <input type="text" name="CNPJ" maxlength="14" placeholder="CNPJ" ng-model="business.CNPJ" required/>
        </div>
        <div >
            <input type="text" name="ADDRESS" placeholder="Endereço" ng-model="business.ADDRESS"/>
        </div>
        <div >
            <input type="text" name="CEP" placeholder="CEP" ng-model="business.CEP" maxlength="8" />
        </div>
        <div >
            <select ng-model="myCountry" ng-options="country.NOME for country in countries | orderBy:'NOME'" ng-change="cleanOptions()"></select>
        </div>
        <div >
            <select ng-model="myState" ng-options="state.NOME for state in states | filter:filterStates | orderBy:'NOME'" ng-change="cleanCity()"></select>
        </div>
        <div >
            <select ng-model="myCity" ng-options="city.NOME for city in cities | filter:filterCities | orderBy:'NOME'"></select>
        </div>
        <div >
            <input type="text" name="PHONE1" placeholder="Telefone" ng-model="business.PHONE1"/>
        </div>
        <div >
            <input type="text" name="PHONE2" placeholder="Telefone" ng-model="business.PHONE2"/>
        </div>
        <div>
            <button type="submit" name="submit" ng-click="saveBusiness(business)" data-ng-disabled="businessForm.$invalid">Salvar</button>
        </div>
    </form>
</div>